.breadcrumbs {
	margin-bottom: 22px;
	font-size: 14px;
	color: #fff;

	@media screen and (max-width: $break_md) {
		font-size: 13px;
	}

	@media screen and (max-width: $break_sm) {
		margin-bottom: 22px;
	}

	a, a span {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a:not([class]) {
		text-decoration: none;
	}
	
}