.burger__menu-btn {
    // position: absolute;
    // top: 50%;
    // left: 15px;
    // transform: translateY(-50%);    

    position: relative;
    grid-row: 1/3;

    height: 40px;
    width: 40px;

    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;

    display: none;

    @media screen and (max-width: 600px) {
        display: block;
    }

    span {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        z-index: 25;
        display: block;
        width: 12px;
        height: 2px;
        transition: .25s;
        background-color: #000;

        pointer-events: none;

        &::before,
        &::after {
            display: block;
            width: 18px;
            height: 2px;
            content: '';
            transition: .25s;
            background-color: #000;
        }

        &::before {
            transform: translateY(7px);
        }

        &::after {
            transform: translateY(-9px);
        }
    }

    &.toggle {
        span {
            width: 0;

            &::before {
                transform: translateY(0) rotate(45deg);
            }

            &::after {
                transform: translateY(-2px) rotate(-45deg);
            }
        }
    }
}
