.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 12px 26px;

	min-height: 56px;

	color: var(--color-text);
	font-size: 16px;
	line-height: 1.35;
	font-family: var(--font-01);
	font-weight: 400;
	text-decoration: none;

	background-color: var(--color-accent);
	border: none;

	transition: background-color .25s, color .25s, transform .25s;
	cursor: pointer;

	@media screen and (max-width: 768px) {
		font-size: 14px;
	}

	&.btn--dark {
		background-color: var(--color-text);
		color: #fff;
	}
}

.btn:hover:not(:disabled) {
	transform: translateY(-2px);
}


.btn:disabled {
	opacity: 0.4;
}

.btn__icon {
	height: 26px;
	width: 26px;
	object-fit: cover;
}
