.header {
    padding-top: 10px;
    padding-bottom: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (max-width: 992px) {
        background-color: #fff;
        box-shadow: 0px 4px 8px 0px rgba(25, 26, 48, 0.15);
    }
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
    @media screen and (max-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 0 30px;
    }

    @media screen and (max-width: 600px) {
        align-content: center;
        justify-content: start;
        grid-template-columns: auto auto 1fr;
        gap: 0 8px;
    }
}
.header__menu-btn {
    display: none;

    @media screen and (max-width: 600px) {
        display: block;
    }
}
.header-logo {
    flex-grow: 1;
    flex-shrink: 0;

    @media screen and (max-width: 1200px) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    @media screen and (max-width: 600px) {
        grid-column: 2/3;
        margin-right: auto;
    }
}
.header-logo__img {
    display: block;
    width: 141px;
    height: 86px;

    @media screen and (max-width: 992px) {
        height: 66px;
        width: auto;
    }

    @media screen and (max-width: 480px) {
        height: 50px;
    }
}
.header-location {
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    color: #191A30;
    opacity: .6;

    font-size: 14px;

    @media screen and (max-width: 1200px) {
        grid-column: 3/4;
        grid-row: 2/3;
        align-self: start;
        justify-self: end;
    }

    @media screen and (max-width: 480px) {
        font-size: 12px;
    }

    img {
        display: block;
        width: 18px;
        height: 18px;
    }
}
.header-nav {
    flex-grow: 1;

    @media screen and (max-width: 1200px) {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px 24px;
}
.header-menu__item {
}
.header-menu__link {
    padding-top: 6px;
    padding-bottom: 6px;
}
.header-contacts {
    flex-grow: 2;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 1300px) {
        flex-grow: 1;
    }

    @media screen and (max-width: 1200px) {
        grid-column: 3/4;
        align-self: end;
    }
}
.header-contacts__links {
    display: flex;
    align-items: center;
    gap: 9px;
}
.header-contacts__whatsapp {
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.header-contacts__phone {
    font-size: 17px;
    font-weight: bold;

    @media screen and (max-width: 480px) {
        font-size: 12px;
    }
}
.header-contacts__text {
    font-size: 13px;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}