// font-family: 'Inter', sans-serif;

@use "sass:math";

html {
	font-size: 10px;
	text-rendering: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--color-accent) #191a30;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #191a30;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-accent);
	border-radius: 10px;
	border: none;
}

body {
	display: flex;

	position: relative;
	flex-direction: column;

	box-sizing: border-box;
	min-width: 32rem;
	min-height: 100vh;

	overflow-x: hidden;

	color: var(--color-text);
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;

	/*Перенос длинных слов*/
	font-family: var(--font-01);
	word-wrap: break-word;

	overflow-wrap: break-word;

	&.toggle {
		height: 100vh;
		overflow-y: hidden;
	}
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	width: 100%;
	max-width: 136rem;
	margin: 0 auto;
	padding: 0 3rem;

	@media screen and (max-width: $break_md) {
		padding: 0 1.5rem;
	}
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:not([class]) {
	color: var(--color-text);
	text-decoration: underline;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul:not([class]) {
	padding-left: 2.2rem;

	li {
		position: relative;
		margin-bottom: 0.5rem;

		&:before {
			position: absolute;
			top: 0.8rem;
			left: -1.5rem;
			width: 0.6rem;
			height: 0.6rem;
			border-radius: 50%;
			content: "";
			background-color: var(--color-text);
		}
	}
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.main {
	z-index: 16;
	position: relative;
}

.content {
	width: 100%;
	max-width: 700px;

	@media screen and (max-width: 1200px) {
		padding-bottom: 50px;
	}

	h1 {
		@include h3;
		text-transform: uppercase;
	}

	h2 {
		margin-top: 40px;
		margin-bottom: 20px;

		@include h3;
		text-transform: uppercase;
	}

	.content-img {
		margin-top: 40px;
		margin-bottom: 40px;

		@media screen and (max-width: 992px) {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		img {
			display: block;
			max-width: 100%;
		}
	}

	.table-box {
		overflow-x: auto;
	}

	table {
		table-layout: auto;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
	}
	thead {}
	tr {
	}
	th {
		text-align: left;
		padding: 25px 10px 10px 10px;

		@media screen and (max-width: 768px) {
			background-color: var(--color-text);
			color: #fff;

			&:first-child {
				padding-left: 10px;
			}
	
			&:last-child {
				padding-right: 10px;
			}
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
	td {
		padding: 25px 10px 10px 10px;
		border-bottom: 1px solid #E0E0E0;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			// text-align: right;
		}
	}

	.content-btn-box {
		margin-top: 60px;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
}

section {
	padding-top: var(--indentBlocks);
	padding-bottom: var(--indentBlocks);
}

.section-header {
	margin-top: 0;
	@include h1;
	text-transform: uppercase;

	@media screen and (max-width: $break_md) {
		font-size: 2.6rem;
	}

	@media screen and (max-width: $break_sm) {
		font-size: 2.2rem;
	}
}

.section-header__sub-title {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.16;

	@media screen and (max-width: $break_lg) {
		font-size: 2rem;
	}

	@media screen and (max-width: $break_md) {
		font-size: 1.8rem;
	}
}

h3:not([class]) {
	margin-top: 4rem;
	margin-bottom: 1.5rem;

	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.18;
	font-family: "Raleway", sans-serif;
}

.hidden-text {
	@media screen and (max-width: $break_sm) {
		display: none;

		&.active {
			display: block;
		}
	}
}

.text-center {
	text-align: center;
}

.show-text {
	display: none;

	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding: 0;

	border: none;
	color: var(--color-main);

	text-decoration: underline;
	background-color: transparent;

	@media screen and (max-width: $break_sm) {
		display: inline-block;
	}
}

.swiper__prev,
.swiper__next {
	z-index: 1;
	position: absolute;
	top: 50%;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	cursor: pointer;

	background-color: rgba(254, 254, 254, 0.9);
	background-image: url("../img/icons/arrow.svg");
	background-repeat: no-repeat;

	background-position: center;

	box-shadow: rem rem 0.3rem rem #b3b3b3;
	transform: translateY(-50%);

	@media screen and (max-width: $break_sm) {
		width: 3.2rem;
		height: 3.2rem;
	}
}

.swiper__prev {
	left: calc(-4.2rem - 1.5rem);
	transform: translateY(-50%) rotate(180deg);

	@media screen and (max-width: 120rem) {
		left: -1.5rem;
	}
}

.swiper__next {
	right: calc(-4.2rem - 1.5rem);

	@media screen and (max-width: 120rem) {
		right: -1.5rem;
	}
}

.swiper-button-disabled {
	opacity: 0.5;
	cursor: auto;
}

.swiper-pagination-bullet-active {
	background-color: var(--color-main) !important;
}

// Страница показа верстки
.index {
	.info {
		padding: 2.5rem;
		background-color: #fff9c4;
	}

	.index a {
		color: #06c;
		text-decoration: underline;
	}
}

.more {
	position: relative;
	display: inline-flex;

	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	transition: transform .25s;

	&:hover {
		transform: translateY(-2px);
	}

	&::after {
		content: "";
		position: absolute;
		left: 0px;
		bottom: 0;

		width: 100%;
		height: 1px;

		background-color: var(--color-text);
		transition: transform .25s;
	}
}