@use "sass:math";

.mobile-menu {
	padding: 0;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;

	width: 100%;
	max-width: 300px;
	height: 100vh;


	transform: translateX(-100%);

	background-color: #fff;

	transition: transform .25s;

	@media (max-width: $break_xs) {
		max-width: 100%;
	}



	&.toggle {
		transform: translateX(0);
		overflow-y: auto;
	}

    .contacts-info {
        font-size: 14px;
        line-height: normal;
        border-top: 1px solid #E0E0E0;
    }

    .contacts-info__address {

    }

    .contacts-info__mail {
        color: #828282;
    }

    .btn-box {
        margin-top: 30px;
    }

}

.mobile-menu__wrapper {
	padding: 35px 15px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;

	height: auto;
	// height: 100%;
	overflow-y: auto;

	
}