.portfolio {
	.section-header {
		max-width: 556px;
		margin: 0;

		@media screen and (max-width: 1200px) {
			max-width: 48%;
		}

		@media screen and (max-width: 600px) {
			max-width: 100%;
		}
	}
}
.container {
}
.portfolio__container {
}
.portfolio-box {
	margin-bottom: 53px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	@media screen and (max-width: 1200px) {
		align-items: center;
	}

	@media screen and (max-width: 600px) {
		margin-bottom: 27px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;

	}
}
.portfolio-box__header {
}
.portfolio-box__descr {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	color: #6D6E85;
	line-height: normal;

	max-width: 510px;

	@media screen and (max-width: 1200px) {
		max-width: 48%;
	}

	@media screen and (max-width: 600px) {
		max-width: 100%;
	}
}
.portfolio-grid__box {
	overflow: hidden;

	@media screen and (max-width: 768px) {
		display: none;
	}
}
.portfolio-grid {
	width: 100%;
	aspect-ratio: 1300 / 1115;

	display: grid;
	grid-template-columns: repeat(1300, 1fr);
	grid-template-rows: repeat(1115, 1fr);

	@media screen and (max-width: 768px) {
		display: flex;
		aspect-ratio: initial;
	}
}
.portfolio-grid__item {

	&:nth-child(1) {
		grid-column: 1 / 531;
		grid-row: 1 / 616;
	}
	&:nth-child(2) {
		grid-column: 551 / 971;
		grid-row: 1 / 298;
	}
	&:nth-child(3) {
		grid-column: 991 / 1300;
		grid-row: 1 / 298;
	}
	&:nth-child(4) {
		grid-column: 551 / 971;
		grid-row: 318 / 615;
	}
	&:nth-child(5) {
		grid-column: 991 / 1300;
		grid-row: 318 / 615;
	}
	&:nth-child(6) {
		grid-column: 1 / 641;
		grid-row: 636 / 1116;
	}
	&:nth-child(7) {
		grid-column: 661 / 1300;
		grid-row: 636 / 1116;
	}

}
.portfolio-item {
	position: relative;
	overflow: hidden;

	&:hover {
		img {
			transform: scale(1.05);
		}
		.portfolio-item__title {
			opacity: 1;

			&::before {
				width: 100%;
			}
		}

		&::before {
			background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 62%, rgba(0,0,0,0) 100%);
			opacity: .7;
		}
	}

	&::before {
		position: absolute;
		content: '';
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 62%, rgba(0,0,0,0) 100%);
		opacity: .5;
		transition: opacity .25s;
	}

}
.portfolio-item__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		transition: transform .5s;
	}


}
.portfolio-item__title {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 2;

	margin: 0;

	display: inline-flex;
	align-items: flex-end;
	justify-content: flex-start;

	color: #fff;
	opacity: .7;
	transition: opacity .25s;

	&::before {
		content: '';
		position: absolute;
		left: 0px;
		bottom: 0;

		width: 0;
		height: 1px;

		background-color: #fff;

		transition: width .25s;
	}
}

.portfolio__more-box {
	margin-top: 44px;
	text-align: center;

	@media screen and (max-width: 992px) {
		margin-top: 27px;
	}
}

.portfolio__more {
	text-align: center;
}

.portfolio-slider {
	@media screen and (min-width: 769px) {
		display: none;
	}
}