.products-menu {
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: #F8F8F8;

    @media screen and (max-width: 600px) {
        padding: 0;
        background-color: transparent;
    }
}
.products-menu__title {
    font-family: var(--font-02);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
}
.products-menu__list {
    @media screen and (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}
.products-menu__item {
}
.products-menu__link {
    display: inline-flex;
    padding-top: 7px;
    padding-bottom: 8px;

    transition: color .25s, padding .25s;

    @media screen and (max-width: 600px) {
        padding: 10px 12px;
        border-radius: 50px;
        border: 1px solid #191A30;

        font-size: 14px;
        line-height: normal;
    }

    &:hover {
        color: #4646b6;
        padding-left: 10px;
    }
}