.request {
    padding-bottom: 250px;

    @media screen and (max-width: 1200px) {
        padding-bottom: 140px;
    }

    @media screen and (max-width: 768px) {
        padding-bottom: var(--indentBlocks);
    }
}
.request__container {
}
.request-box {
    display: flex;
    gap: 120px;

    @media screen and (max-width: 1200px) {
        gap: 60px;
    }

    @media screen and (max-width: 992px) {
        gap: 40px;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}
.request-box__text {
}
.request-text {
    flex-shrink: 0;
    width: 430px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (max-width: 992px) {
        width: 285px;
    }

    @media screen and (max-width: 680px) {
        width: 200px;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }

    .section-header {
        margin-bottom: 0;
    }
}
.request-info {
    font-size: 18px;

    list-style-type: disc;
    padding-left: 20px;

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }

    a {
        text-decoration: none;
    }
}
.request-text__whatsapp {
    img {
        width: 40px;
        height: 40px;

        @media screen and (max-width: 600px) {
            width: 34px;
            height: 34px;
        }
    }
}
.request-box__form {

}
.request-form {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (max-width: 768px) {
        gap: 30px;
    }

    input {
        padding: 12px 0;
        border: 0;
        border-bottom: 2px solid #191A30;
        width: 100%;
        height: 50px;

        &:focus {
            outline: none;
            border-bottom: 2px solid #4646b6;
            background-color: #f9f9f9;
        }

        &::placeholder {

        }

        &.error {
            border-bottom: 2px solid red;

            &::placeholder {
                color: red;
            }
        }
    }

    input[type=file] {
        position: fixed;
        transform: scale(0);

        & + * {
            display: flex;
        }

        &:focus {
            & + * {
                border-bottom: 2px solid #4646b6;
            }
        }
    }
}
.request-form__columns {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 40px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }

    & > * {
        width: calc(50% - 20px);

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
.request-form__file {
    position: relative;
    padding-left: 30px;

    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 18px;
    font-weight: 500;
    color: #4646B6;

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        
        width: 24px;
        height: 24px;
        
        transform: translateY(-50%);
        
        background-image: url('../img/svg/attach.svg');
        background-size: cover;
    }
}
.request-form__btn {
}
.request-form__agree {
    margin-top: -40px;
    font-size: 14px;
    color: #828282;

    @media screen and (max-width: 768px) {
        margin-top: -20px;
        font-size: 12px;
    }
}