.subheader {
}
.subheader--style_01 {
	padding-top: 87px;
	padding-bottom: 92px;

	background-color: #191a30;
	color: #fff;

    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

	a {
		color: #fff;
	}

    .subheader-box__link {
        color: #47485A;
    }
}
.subheader_container {
}

.subheader-box {
	display: flex;
	gap: 43px;

	text-transform: uppercase;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}
.subheader-box__title {
	position: relative;
	margin: 0;
	padding-bottom: 18px;
	@include h1;

    color: var(--color-accent);

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0px;
	// 	bottom: 0;
		
	// 	width: 100%;
	// 	height: 7px;
		
	// 	background-color: var(--color-accent);
	// }
}
.subheader-box__link {
	margin: 0;
	@include h1;

    color: #47485A;
}
