// для страницы контакты
.subheader {
}
.subheader--style_03 {
	padding-top: 48px;
	padding-bottom: 48px;

	background-color: #fff;

    @media screen and (max-width: 768px) {
        padding-top: 32px;
        padding-bottom: 22px;
    }

    .breadcrumbs {
        margin: 0;
        color: var(--color-text);
    }

    .breadcrumbs a, .breadcrumbs a span {
        color: var(--color-text);
    }
}



