.subheader {
}
.subheader--style_02 {
	padding-top: 100px;
	padding-bottom: 100px;

	background-color: var(--color-accent);
	color: var(--color-text);

    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

	a {
		color: #fff;
	}

    .subheader-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .subheader-box__link {
        color: var(--color-text);
    }

    .breadcrumbs {
        margin: 0;
        margin-bottom: 22px;
        color: var(--color-text);
    }

    .breadcrumbs a, .breadcrumbs a span {
        color: var(--color-text);
    }

    .subheader-box {
        gap: 40px;

        @media screen and (max-width: 992px) {
            gap: 25px;
        }
    }

    .subheader-box__title {
        margin-bottom: 0;
        padding-bottom: 0;
        color: var(--color-text);
    }

    .btn {
        text-transform: initial;
    }
}
.subheader_container {
}

.subheader-box {
	display: flex;
	gap: 43px;

	text-transform: uppercase;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}
.subheader-box__title {
	position: relative;
	margin: 0;
	padding-bottom: 18px;
	@include h1;

    color: var(--color-accent);

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0px;
	// 	bottom: 0;
		
	// 	width: 100%;
	// 	height: 7px;
		
	// 	background-color: var(--color-accent);
	// }
}
.subheader-box__link {
	margin: 0;
	@include h1;

    color: #47485A;
}
