.subheader {
}
.subheader--style_03 {
	padding-top: 48px;
	padding-bottom: 48px;

	background-color: #fff;

    @media screen and (max-width: 768px) {
        padding-top: 32px;
        padding-bottom: 22px;
    }

	// a {
	// 	color: #fff;
	// }

    .subheader-box__link {
        color: #47485A;
    }

    .breadcrumbs {
        margin: 0;
        color: var(--color-text);
    }

    .breadcrumbs a, .breadcrumbs a span {
        color: var(--color-text);
    }
}
.subheader_container {
}

.subheader-box {
	display: flex;
	gap: 43px;

	text-transform: uppercase;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}
.subheader-box__title {
	position: relative;
	margin: 0;
	padding-bottom: 18px;
	@include h1;

    color: var(--color-accent);
    // text-decoration: underline;

	&::before {
		content: '';
		position: absolute;
		left: 0px;
		bottom: 0;
		
		width: 100%;
		height: 7px;
		
		background-color: var(--color-accent);
	}
}
.subheader-box__link {
	margin: 0;
	@include h1;

    color: #47485A;
}
