@use "sass:math";

// Брейкпоинты

$break_lg: 1200px;
$break_md: 992px;
$break_ssm: 800px;
$break_sm: 768px;
$break_xs: 480px;
$break_xxs: 330px;


:root {

    // Цвета
    --color-text: #191A30; // цвет текста
    --color-accent: #DCF159; // акцентный цвет
    --color-accent2: #4646B6; // акцентный цвет

    // Шрифты
    --font-01: 'Inter', sans-serif;
    --font-02: 'Oswald', sans-serif;

    --indentBlocks: 14rem;
    @media (max-width: $break_lg) {
        --indentBlocks: 4rem;
    }

}