// Переменные
@import "_vars";

// Нормализация
@import '_preloader';
@import '_normalize';

// Смартгрид и свои миксины
// @import '_smart-grid';
@import '_mixins/mixins'; // свои миксины

// Шрифты
// @import "_fonts";

// Стандартности
// @import '_breadcrumbs'; // Постраничная навигация
@import '_button'; // Кнопки

// Свои общие стили
@import "_main";
@import "_burger";
@import "_header";
@import "_hero";
@import "_popular-services";
@import "_advantages";
@import "_portfolio";
@import "_reviews";
@import "_action";
@import "_request";
@import "_footer";
@import "_swiper-custom";
@import "_mobile-menu";


// Стили текущего проекта


// Библиотеки и их кастомизация
// @import "../libs/swiper-bundle.min";