section.action
    .action__container.container
        .action__box
            .action__text
                h2.section-header Сделаем скидку 20% на пакеты, буклеты и листовки
                p.action__descr При предоставлении счета от наших конкурентов
                button.btn.action__btn Хочу скидку
            .action__img
                img(src="img/action/action.jpg", alt="")