section.advantages
    .container.advantages__container
        .advantages-grid
            
            .advantages-grid__title
                h2.section-header К нам возвращаются не просто так...
                p.section-sutitle а потому что с нами:
            
            picture.advantages-grid__img
                source(srcset="../../img/advantages/advantages-pc.jpg" media="(min-width: 601px)")
                img(src="../../img/advantages/advantages-mob.jpg", alt="")

            .advantages-grid__item.advantages-item
                p.advantages-item__title Понятно и удобно
                p.advantages-item__descr Вы просто говорите нам о своей идее, а мы воплощаем ее в реальность
            .advantages-grid__item.advantages-item
                p.advantages-item__title Удивительно быстро
                p.advantages-item__descr Мы профилировали нашу деятельность по разным направлениям
            .advantages-grid__item.advantages-item
                p.advantages-item__title Отвечаем за качество
                p.advantages-item__descr Для этого у нас есть все: начиная от современной производственной базы и заканчивая огромным опытом
            .advantages-grid__item.advantages-item
                p.advantages-item__title Индивидуально к каждому
                p.advantages-item__descr К каждому проекту мы относимся как к уникальной истории, именно поэтому у нас нет шаблонов