footer.footer
    .container.footer__container
        .footer-box
            .footer-col.footer-col__01
                a(href="#").footer-box__logo
                    img(src="img/logo.png", alt="")
                p.footer-box__copy Компания«Простые Решения»2010-2019

            .footer-col.footer-col__02
                ul.footer-box__menu.footer-menu
                    li.footer-menu__item
                        a(href="#").footer-menu__link Услуги
                    li.footer-menu__item
                        a(href="#").footer-menu__link О компании
                    li.footer-menu__item
                        a(href="#").footer-menu__link Портфолио
                    li.footer-menu__item
                        a(href="#").footer-menu__link Оборудование
                    li.footer-menu__item
                        a(href="#").footer-menu__link Блог
                    li.footer-menu__item
                        a(href="#").footer-menu__link Контакты

            .footer-col.footer-col__03
                .footer-box__contacts.footer-contacts
                    a(href="tel:84952808280").footer-contacts__phone +7 (495) 280 82 80
                    span.footer-contacts__address Москва, 2-я кабельная д.2
                    a(href="mailto:info@pr-msk.ru").footer-contacts__mail info@pr-msk.ru

                a(href="#").footer-box__whatsapp.btn
                    img(src="img/svg/whatsapp-fill.svg", alt="").btn__icon
                    | Написать в WhatsApp

