header.header
    .container.header__container
        button.mobile-menu-btn.burger__menu-btn.js-burger.jsMobileMenuBtnToggle
            span
        a(href="/").header-logo
            img.header-logo__img(src="img/logo.png", alt="")

        a(href="#").header-location
            img(src="img/svg/location.svg", alt="")
            span Москва

        nav.header-nav
            ul.header-menu
                li.header-menu__item
                    a.header-menu__link(href="#") Услуги
                li.header-menu__item
                    a.header-menu__link(href="#") О компании
                li.header-menu__item
                    a.header-menu__link(href="#") Портфолио
                li.header-menu__item
                    a.header-menu__link(href="#") Оборудование
                li.header-menu__item
                    a.header-menu__link(href="#") Блог
                li.header-menu__item
                    a.header-menu__link(href="#") Контакты

        .header-contacts
            .header-contacts__links
                a.header-contacts__whatsapp
                    img(src="img/svg/whatsapp-fill.svg", alt="")
                a.header-contacts__phone(href="tel:84952808280") +7 (495) 280 82 80
            span.header-contacts__text Мы есть в What’sApp