.hero
    .hero_container.container
        .hero-box
            span.hero-box__subtitle Печать полиграфической продукции
            p.hero-box__title Простые решения непростых задач
            
            .hero-tags
                span.hero-tags__item врубка
                span.hero-tags__item офсетная печать
                span.hero-tags__item лакирование

        .hero-img
            img.hero-img__pc(src="img/hero/hero-img-pc.png", alt="")
            img.hero-img__mobile(src="img/hero/hero-img-mobile.png", alt="")
