.mobile-menu
    .mobile-menu__wrapper
        
        //- .socials
            a.socials__item(href="#")
                img(src="img/icons/socials/01.svg", alt="")
            a.socials__item(href="#")
                img(src="img/icons/socials/02.svg", alt="")

        .contacts-info
            p.contacts-info__address Москва, 2-я кабельная д.2
            a(href="mailto:info@pr-msk.ru").contacts-info__mail info@pr-msk.ru

            .btn-box
                a(href="#").btn
                    img(src="img/svg/whatsapp-fill.svg", alt="").btn__icon
                    | Написать в WhatsApp


