section.popular-services
    .container
        h2.section-header Популярные услуги

        .popular-services__links 
            a(href="#") Услуги
            a(href="#") Продукция

        ul.popular-services__list
            li.popular-services__item

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon

                a(href="#").popular-services__link.ps-link
                    span.ps-link__title
                    span.ps-link__descr
                    span.ps-link__price
                    span.ps-link__icon
