section.popular-services
	.container.popular-services__container
		h2.section-header Популярные услуги

		.popular-services__list.ps-list

			a(href="#").ps-list__item
				span.ps-list__title Брошюровка
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon
		
			a(href="#").ps-list__item
				span.ps-list__title Вырубка/высечка
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon
		
			a(href="#").ps-list__item
				span.ps-list__title Каширование
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon
		
			a(href="#").ps-list__item
				span.ps-list__title Ламинация
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon
		
			a(href="#").ps-list__item
				span.ps-list__title Офсетная печать
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon
		
			a(href="#").ps-list__item
				span.ps-list__title Тиснение
				span.ps-list__descr от 2 дней
				span.ps-list__price от 100 руб/А4
				span.ps-list__icon

		.popular-services__more
			a(href="#").popular-services__more-link Все услуги