section.portfolio
	.container.portfolio__container
		.portfolio-box
			h2.section-header.portfolio-box__header А вот наше портфолио, оцените сами
			p.portfolio-box__descr Наша миссия - помогать клиентам реализовывать любые, даже самые сложные и нестандартные задачи, находя им простое решение!

		.portfolio-grid__box

			.portfolio-grid

				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-01.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-01-mob.jpg", alt="")
					p.portfolio-item__title Субьект искусства
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-02.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-02-mob.jpg", alt="")
					p.portfolio-item__title Word
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-03.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-03-mob.jpg", alt="")
					p.portfolio-item__title Word
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-04.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-04-mob.jpg", alt="")
					p.portfolio-item__title Арарат
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-05.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-05-mob.jpg", alt="")
					p.portfolio-item__title Арарат
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-06.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-06-mob.jpg", alt="")
					p.portfolio-item__title Hungry
				a(href="#").portfolio-grid__item.portfolio-item.swiper-slide
					picture.portfolio-item__img
						source(srcset="img/portfolio/portfolio-07.jpg" media="(min-width: 769px)")
						img(src="img/portfolio/portfolio-07-mob.jpg", alt="")
					p.portfolio-item__title Hungry

		.portfolio-slider.swiper
			//- .swiper-wrapper
			.portfolio-slider__pagination

		.portfolio__more-box
			a(href="#").portfolio__more.more Смотреть все