section.portfolio
    .container.portfolio__container
        .portfolio-box
            h2.section-header.portfolio-box__header А вот наше портфолио, оцените сами
            p.portfolio-box__descr Наша миссия - помогать клиентам реализовывать любые, даже самые сложные и нестандартные задачи, находя им простое решение!

        .portfolio-grid
            a(href="#").portfolio-grid__item