.products-menu
    span.products-menu__title Продукция 
    ul.products-menu__list
        li.products-menu__item
            a.products-menu__link(href="#") Блокноты
        li.products-menu__item
            a.products-menu__link(href="#") Брошюры
        li.products-menu__item
            a.products-menu__link(href="#") Буклеты
        li.products-menu__item
            a.products-menu__link(href="#") Годовые отчеты
        li.products-menu__item
            a.products-menu__link(href="#") Календари
        li.products-menu__item
            a.products-menu__link(href="#") Каталоги
        li.products-menu__item
            a.products-menu__link(href="#") Конверты
        li.products-menu__item
            a.products-menu__link(href="#") Коробки
        li.products-menu__item
            a.products-menu__link(href="#") Листовки
        li.products-menu__item
            a.products-menu__link(href="#") Пакеты
        li.products-menu__item
            a.products-menu__link(href="#") Папки
        li.products-menu__item
            a.products-menu__link(href="#") Плакаты
        li.products-menu__item
            a.products-menu__link(href="#") Упаковка