include ../includes/content-action

h1 Описание
p Листовка – это непериодическая полиграфическая продукция. Ее объем составляет не более двух страниц, тем самым она представляет собой запечатанный лист любого стандартного размера без фальцев (сложений). Рекламные листовки считаются весьма результативным элементом маркетинга в опытных руках. Область их применения не ограничена (конференции, выставки, адресная рассылка в почтовые ящики, стенды, магазины и многое другое).
p Флаеры получили широкое распространение в последние годы. По сути это небольшие листовки, которые содержат информацию о предстоящих мероприятиях. Также на них размещают контактную информацию, сведения о скидках и прочее. Флаеры печатаются чаще всего на глянцевой бумаге средней плотности. Информация на них может размещаться как с одной, так и с двух сторон.
p Листовки и флаеры эффективны при проведении рекламных кампаний, продвижении необходимого товара или услуги. Их назначение может быть разным, но нужно знать, какими они могут быть:

ul
    li с односторонней или двусторонней печатью;
    li цветными или черно-белыми;
    li по формату: А4, А5, А6, А7;
    li различными по типу бумаги (плотная мелованная или тонкая офсетная).

img.content-img(src="img/content/img.jpg", alt="")

p В нашей компании вы можете с легкостью заказать печать рекламных листовок и флаеров для любого типа бизнеса. Мы не только поможем разработать дизайн, но и подберем наиболее выгодные варианта заказа.
p Печать в типографии полного цикла «Простые решения» в Москве – это:

ul
    li скорость и качество;
    li помощь профессиональных дизайнеров;
    li выполнение всех ваших пожеланий;
    li доступные цены.

h2 Офсетная печать листовок
p Характеризуется продолжительной подготовкой и приладкой оборудования. Лучше всего производить на тиражах от 1000 штук формата А4. При таком виде печати вы получите отличное качество и отличную цветопередачу. Маленькие тиражи иногда изготавливаются на цифровом принтере.

.table-box
    table
        thead
        tr
            th Тираж
            th Формат
            th Плотность
            th Цветность
            th Стоимость
        tr
            td 100
            td А5
            td 130 г/м глянец
            td 4+0
            td 2924 руб
        tr
            td 200
            td А5
            td 130 г/м глянец
            td 4+0
            td 3324 руб
        tr
            td 300
            td А5
            td 130 г/м глянец
            td 4+0
            td 3820 руб
        tr
            td 100
            td А6
            td 130 г/м глянец
            td 4+0
            td 2160 руб
        tr
            td 100
            td А6
            td 130 г/м глянец
            td 4+0
            td 2460 руб
        tr
            td 100
            td А6
            td 130 г/м глянец
            td 4+0
            td 2760 руб

.content-btn-box
    a.btn(href="#") Заказать услугу