section.reviews
    .reviews__container.container
        .reviews__box
            h2.section-header Вот что о нас говорят
            a(href="#").reviews-link
                img(src="img/icons/yandex.png", alt="" height="28").reviews-link__icon
                span.reviews-link__text Отзывы из Яндекс

        .reviews__slider.reviews-slider.swiper
            .reviews-slider__wrapper.swiper-wrapper

                .reviews-slider__item.reviews-item.swiper-slide
                    span.reviews-item__name Olsen B
                    .reviews-item__info
                        time.reviews-item__time 12.06.22
                        .reviews-item__rating
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                    .reviews-item__text
                        p Хочу выразить огромную благодарность простым решениям за профессиональную и быструю работу. Нужно было в очень сжатые сроки напечатать Полиграфию к выставке. Обратилась по рекомендации и - не прогадала. Во многих местах отказались брать мой заказ из-за очень маленького срока, но менеджеры типографии очень оперативно сделали смету, поправили макеты и запустили все в работу. В результате оказалась очень довольна качеством несмотря на малый срок, цены тоже были адекватными, ничего лишнего не взяли. Пакеты получились просто шикарными, не ожидала даже!

                .reviews-slider__item.reviews-item.swiper-slide
                    span.reviews-item__name Victor Lanin
                    .reviews-item__info
                        time.reviews-item__time 12.06.22
                        .reviews-item__rating
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                    .reviews-item__text
                        p Давно искал компанию, которая может сделать работу качественно, а самое главное в сжатые сроки. Очень выручили уже несколько раз с заказами, когда нужны были большие объёмы и ещё «вчера»! Команда профессионалов, которая никогда не бросит своих клиентов в беде

                .reviews-slider__item.reviews-item.swiper-slide
                    span.reviews-item__name Olsen B
                    .reviews-item__info
                        time.reviews-item__time 12.06.22
                        .reviews-item__rating
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                    .reviews-item__text
                        p Хочу выразить огромную благодарность простым решениям за профессиональную и быструю работу. Нужно было в очень сжатые сроки напечатать Полиграфию к выставке. Обратилась по рекомендации и - не прогадала. Во многих местах отказались брать мой заказ из-за очень маленького срока, но менеджеры типографии очень оперативно сделали смету, поправили макеты и запустили все в работу. В результате оказалась очень довольна качеством несмотря на малый срок, цены тоже были адекватными, ничего лишнего не взяли. Пакеты получились просто шикарными, не ожидала даже!

                .reviews-slider__item.reviews-item.swiper-slide
                    span.reviews-item__name Victor Lanin
                    .reviews-item__info
                        time.reviews-item__time 12.06.22
                        .reviews-item__rating
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                            img(src="img/svg/star.svg", alt="")
                    .reviews-item__text
                        p Давно искал компанию, которая может сделать работу качественно, а самое главное в сжатые сроки. Очень выручили уже несколько раз с заказами, когда нужны были большие объёмы и ещё «вчера»! Команда профессионалов, которая никогда не бросит своих клиентов в беде

            .reviews-slider__pagination.light

        .company__slider.company-slider.swiper
            .company-slider__wrapper.swiper-wrapper
                
                .company-slider__item.company-item.swiper-slide
                    img(src="img/company-slider/01.jpg", alt="")                
                .company-slider__item.company-item.swiper-slide
                    img(src="img/company-slider/02.jpg", alt="")                
                .company-slider__item.company-item.swiper-slide
                    img(src="img/company-slider/03.jpg", alt="")                
                .company-slider__item.company-item.swiper-slide
                    img(src="img/company-slider/04.jpg", alt="")                
                .company-slider__item.company-item.swiper-slide
                    img(src="img/company-slider/05.jpg", alt="")
            .company-slider__pagination.light