.subheader.subheader--style_03
    .subheader_container.container
        .breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
            a(href='#', itemprop='url')
                span(itemprop='title') Главная
            |  / 
            span(itemprop='title') Контакты