.subheader.subheader--style_01
    .subheader_container.container
        .breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
            a(href='#', itemprop='url')
                span(itemprop='title') Главная
            |  / 
            span(itemprop='title') Продукция

        .subheader-box
            h1.subheader-box__title Продукция 
            a.subheader-box__link(href="#") Услуги