.subheader.subheader--style_02
    .subheader_container.container
        .breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
            a(href='#', itemprop='url')
                span(itemprop='title') Главная
            |  / 
            a(href='#', itemprop='url')
                span(itemprop='title') Продукция
            |  /
            span(itemprop='title') Печать листовок

        .subheader-box
            h1.subheader-box__title Печать листовок
            a.btn.btn--dark(href="#") Задать вопрос в WhatsApp
            //- a.subheader-box__link(href="#") Услуги