@use "sass:math";

@mixin pix-to-rem($px) {
    font-size: math.div($px, $font-size-default) * 1rem;
}

@mixin h1 {
    font-family: var(--font-02);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
}

@mixin h2 {
    font-family: var(--font-02);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.3;
}

@mixin h3 {
    font-family: var(--font-02);
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;
}

@mixin h2-mob {
    font-family: var(--font-02);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
}

@mixin h1-mob {
    font-family: var(--font-02);
    font-size: 26px;
    font-weight: 500;
    line-height: 1.3;
}

@mixin h2-mob {
    font-family: var(--font-02);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
}